name: Build Docker Container
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  # test_django_job:
  #   uses: mananrg/GradPadFinder/.github/workflows/test-django.yaml@main
  docker_build:
    runs-on: ubuntu-latest
    # needs: [test_django_job]
    env:
      DJANGO_SECRET_KEY: test-key-dvfrwe4wsF#2&&^dsf
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag gradpad-be:$(date +%s)
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag and Push Docker image
        run: |
          IMAGE_NAME=ghcr.io/mananrg/gradpadfinder/gradpad-be:latest
          docker tag gradpad-be:$(date +%s) $IMAGE_NAME
          docker push $IMAGE_NAME
