name: Build Docker Container
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  docker_build:
    runs-on: ubuntu-latest
    env:
      DJANGO_SECRET_KEY: test-key-dvfrwe4wsF#2&&^dsf
      # 1. Define a consistent local tag based on the commit SHA or a fixed string
      LOCAL_IMAGE_TAG: gradpad-be:${{ github.sha }}
      # 2. Define the final, full tag for the registry
      FULL_IMAGE_NAME: ghcr.io/mananrg/gradpadfinder/gradpad-be:latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build the Docker image
        # Use the consistent tag defined in 'LOCAL_IMAGE_TAG'
        run: docker build . --file Dockerfile --tag ${{ env.LOCAL_IMAGE_TAG }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag and Push Docker image
        run: |
          # The source tag is now the consistent 'LOCAL_IMAGE_TAG'
          docker tag ${{ env.LOCAL_IMAGE_TAG }} ${{ env.FULL_IMAGE_NAME }}
          docker push ${{ env.FULL_IMAGE_NAME }}
